<div ng-controller="accordionCtrl">
    <div class="column-container">

        <div class="alert alert-info alert-dismissible instructions" id="welcome-banner" role="alert">
            <div class="top-right">
                <button type="button" class="close top-right" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!-- <div ng-hide="givenFeedback">
                Let us know what you think (it's anonymous)!
                <div class="input-group course-search">
                    <input type="text" class="form-control course-search" ng-model="feedback" placeholder="feedback for Winston...">
                    <span class="input-group-addon feedback-submit" ng-click="submitFeedback()">Submit</span>
                </div>
            </div>
            <div class="thanks-for-feedback" ng-show="givenFeedback">
                Thanks for your feedback!
            </div> -->
            <b>Our apologies, Fall 2016/Winter 2017 course data will be available in approx one week.</b><br/>

            <br/>
            Welcome to Winston, a schedule-planning companion for University of Alberta students.
            <ul>
                <li>Curious about a course? Browse the catalog with realtime search</li>
                <li>Got a busy semester? Block off your commitments and Winston will work around them</li>
                <li>Like to sleep in? Block off your mornings</li>
            </ul>
            Winston is <strong>not</strong> official University of Alberta software. Enjoy.
        </div>

        <div class="floating-container">

            <div class="section-header" ng-controller="termCtrl">
                <p class="section-text big-size">Courses during</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{ currentTerm.name }}<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="term in availableTerms">
                            <a ng-click="changeTerm(term)" ng-class="{ 'active-term': term.termId == currentTerm.termId }">{{ term.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="input-group course-search">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control course-search" ng-model="model.searchBox" placeholder="bio, biol 1, biol 107">
            </div>

            <div class="normal-padding">
                <div class="accordion" ng-hide="searchText">
                    <accordion close-others="false">
                        <accordion-group class="faculty-accordion" id="{{ facultyObject.faculty }}" heading="{{ facultyObject.faculty }}" ng-click="renderSubjects(facultyObject.faculty, $event)" data-ng-repeat="facultyObject in courseData" no-bubble>
                            <accordion close-others="false">
                                <accordion-group class="subject-accordion" id="{{ subjectObject.subject }}" heading="{{ subjectObject.subject }}" ng-click="renderCourses(subjectObject.subject, $event)" ng-if="subjects[facultyObject.faculty]" data-ng-repeat="subjectObject in facultyObject.subjects" no-bubble>
                                    <accordion close-others="false">
                                        <accordion-group class="course-accordion" data-drag="true" jqyoui-draggable="{animate:true}" data-jqyoui-options="{revert: 'invalid'}" id="{{ courseResult.course }}" ng-click="loadMore(courseResult.course)" ng-if="courses[subjectObject.subject]" data-ng-repeat="courseResult in subjectObject.courses" no-bubble>
                                            <div static-include="partials/course-tile.html"></div>
                                        </accordion-group>
                                    </accordion>
                                </accordion-group>
                            </accordion>
                        </accordion-group>
                    </accordion>
                </div>
                <div class="search-results" ng-show="searchText">
                    <accordion>
                        <accordion-group class="course-accordion" id="{{ courseResult.course }}" ng-click="loadMore(courseResult.course)"
                        data-ng-repeat="courseResult in courseSearchResults(searchText) | limitTo:30" no-bubble>
                            <div static-include="partials/course-tile.html"></div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>

        </div>

    </div>

</div>
