<div ng-controller="accordionCtrl">

    <div class="column-container">

        <div class="alert alert-info alert-dismissible instructions" id="welcome-banner" role="alert">
            <div class="top-right">
                <button type="button" class="close top-right" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            Welcome to Winston, a schedule-planning companion for University of Alberta students.
            <ul>
                <li>Curious about a course? Browse the catalog with realtime search</li>
                <li>Got a busy semester? Block off your commitments and Winston will work around them</li>
                <li>Like to sleep in? Block off your mornings</li>
            </ul>
            Winston is <strong>not</strong> official University of Alberta software. Enjoy.
        </div>

        <div class="floating-container">

            <div class="section-header">
                <p class="section-text big-size">Courses during</p>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Fall 2014 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Fall 2014</a></li>
                    <li><a href="#">Winter 2015</a></li>
                    <li><a href="#">Spring 2015</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Fall 2015</a></li>
                  </ul>
                </div>
            </div>

            <div class="input-group course-search">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control course-search" ng-model="model.searchBox" placeholder="bio, biol 1, biol 107">
            </div>

            <div class="normal-padding">
                <div class="accordion" ng-hide="searchText">
                    <accordion close-others="false">
                        <accordion-group class="faculty-accordion" id="{{ facultyObject.faculty }}" heading="{{ facultyObject.faculty }}" ng-click="renderSubjects(facultyObject.faculty, $event)" data-ng-repeat="facultyObject in subjectBin" no-bubble>
                            <accordion close-others="false">
                                <accordion-group class="subject-accordion" id="{{ subjectObject.subject }}" heading="{{ subjectObject.subject }}" ng-click="renderCourses(subjectObject.subject, $event)" ng-if="subjects[facultyObject.faculty]" data-ng-repeat="subjectObject in facultyObject.subjects" no-bubble>
                                    <accordion close-others="false">
                                        <accordion-group class="course-accordion" data-drag="true" jqyoui-draggable="{animate:true}" data-jqyoui-options="{revert: 'invalid'}" id="{{ courseResult.course }}" ng-click="loadMore(courseResult.course)" ng-if="courses[subjectObject.subject]" data-ng-repeat="courseResult in subjectObject.courses" no-bubble>
                                            <div static-include="partials/course-tile.html"></div>
                                        </accordion-group>
                                    </accordion>
                                </accordion-group>
                            </accordion>
                        </accordion-group>
                    </accordion>
                </div>
                <div class="search-results" ng-show="searchText">
                    <accordion>
                        <accordion-group class="course-accordion" id="{{ courseResult.course }}" ng-click="loadMore(courseResult.course)" 
                        data-ng-repeat="courseResult in courseSearchResults(searchText) | limitTo:30" no-bubble>
                            <div static-include="partials/course-tile.html"></div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
            
        </div>

    </div>

</div>


