<div class="column-container floating-container added-container" ng-controller="addedCtrl">
    <div class="section-header">
        <div class="section-text big-size">My Courses</div>

        <button class="btn btn-default section-text regular-size go-right empty-all" ng-click="emptyAll()">Empty All</button>
    </div>
<!--             <md-button class="md-raised md-primary remove-icon" md-theme="red" ng-click="removeAll()">
        <i class="glyphicon glyphicon-minus" ng-click="removeFromSchedule(course)"></i> Remove All 
    </md-button> -->
<!--     <md-button class="md-raised md-primary generate-schedules-button" id="generate-schedules-button" ng-click="promptSchedules()">
        Generate Schedules
    </md-button> -->
    <div class="added-list">
        <span class="list-group-item" ng-repeat="course in added">
            {{ course.asString }}
        </span>
    </div>

    <div class="bottom-container">
        <button class="btn btn-default go-right" ng-click="viewSchedules()">View Schedules</button>
    </div>
</div>