<script type="text/ng-template" id="addedModal.html">
  <div class="modal-container floating-container">
    <div static-include="partials/my-courses.html"></div>
  </div>
</script>

<script type="text/ng-template" id="noSchedulesModal.html">
    <div class="modal-container floating-container">
    <div class="">
      No schedules available.
    </div>
  </div>
</script>

<script type="text/ng-template" id="addLessBusyTimeModal.html">
    <div class="modal-container floating-container">
    <div class="">
      Add less busy time.
    </div>
  </div>
</script>