<script type="text/ng-template" id="addedCoursesModal.html">
  <div class="modal-container floating-container">
    <div static-include="partials/my-courses.html"></div>
  </div>
</script>

<script type="text/ng-template" id="noSchedulesModal.html">
    <div class="modal-container floating-container">
    <div class="sad-dialog">
      <div class="section-text big-size">
        <div class="no-schedules-dialog">
          No schedules available! Modify your chosen classes or remove some busy time.
        </div>
        <button type="button" class="close top-right" ng-click="dismiss()" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="renameGroupModal.html">
    <div class="modal-container floating-container">
    <div class="sad-dialog">
      <span class="section-text big-size" style="display: block; text-align: center">Group Name:</span>
      <input type="text" style="display: block; margin: auto" ng-model="name" />
      <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button type="button" class="btn btn-default" style="float: right" ng-click="save()">Save</button>
    </div>
  </div>
</script>
