<div class="navbar navbar-default nav-container" id="top" ng-controller="headerCtrl">
  <div class="navbar-header">
    <button type="button" class="btn btn-primary" data-toggle="collapse" ng-show="showAdded" ng-click="open()">
		My Courses
    </button>
    <button type="button" class="btn btn-success section-text bold-text" data-toggle="collapse" ng-show="showBackToBrowse" ng-click="back()">
    Browse Courses</button>
    <a class="navbar-brand" href="/#/browse">
      <img class="navbar-brand-image" src="/img/turtle5.png"/>
      <span style="color:pink">W</span>
      <span style="color:green">i</span>
      <span style="color:blue">n</span>
      <span style="color:red">s</span>
      <span style="color:indigo">t</span>
      <span style="color:yellow">o</span>
      <span style="color:red">n</span>
    </a>
  </div>
</div>


