<!-- <div class="md-toolbar-tools">
  <span class="title">Winston</span>

  <span flex>
    <p id="logo"><span class="fa-stack subtlecircle" style="font-size:28px;">
      <i class="fa fa-mortar-board fa-stack-2x text-ualberta-green" id="grey"></i>
      <i class="fa fa-search fa-stack-1x text-ualberta-gold" id="black"></i>
    </span></p>
  </span>
  <span id="tagline">A Schedule Builder for UAlberta Students</span>
  <span><a ng-click="showAbout()"><i class="fa fa-question" style="font-size:30px; color:#000000"></i></a></span>
  <span><a href="mailto:arhoskin@ualberta.ca"> <i class="fa fa-envelope-o" style="font-size:30px; color:#000000"></i></a></span> 
  <span><a href="https://github.com/rosshamish/classtime" target="_blank"> <i class="fa fa-github" style="font-size:30px; color:#000000"></i></a></span> 
</div> -->

<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".modal">
        <span>Added<i class="caret"></i></span>
    </button>
<!--     <button type="button" class="navbar-toggle compressed-added" data-toggle="collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> -->
    <a class="navbar-brand" href="javascript:void(0)">Winston: A UAlberta Schedule Builder</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-click="showAbout()"><i class="fa fa-question" style="font-size:30px; color:#000000"></i></a></li>
      <li><a href="mailto:arhoskin@ualberta.ca"> <i class="fa fa-envelope-o" style="font-size:30px; color:#000000"></i></a></li>
      <li><a href="https://github.com/rosshamish/classtime" target="_blank"> <i class="fa fa-github" style="font-size:30px; color:#000000"></i></a></li>
    </ul>
  </div>

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

</div>


