<div class="navbar navbar-default nav-container" id="top" ng-controller="headerCtrl">
  <div class="navbar-header">
    <button type="button" class="btn btn-primary" data-toggle="collapse" ng-show="showAdded" ng-click="open()">
		My Courses
    </button>
    <button type="button" class="btn btn-success section-text bold-text" data-toggle="collapse" ng-show="showBackToBrowse" ng-click="back()">
    	Back to Browse</button>
    <a class="navbar-brand" href="/#/browse">
      <img class="navbar-brand-image" src="/img/turtle5.png"/>Winston
    </a>
  </div>
</div>


