<script type="text/ng-template" id="partials/my-courses.html">
	<div class="section-header">
		<div class="flex-container">
		    <div class="section-text big-size">My Courses</div>
		    <button class="btn btn-success section-text bold-text go-right view-schedules" ng-click="viewSchedules()">View Schedules</button>
		</div>
	</div>
	<div class="added-list">
		<div class="horiz-padding bold-text">
			All of...
		</div>

    	<div class="flex-container list-group-item"
    	ng-repeat="course in added[0].courses"
    	data-drag="true"
    	data-jqyoui-options="{revert: 'invalid'}"
    	jqyoui-draggable="{animate:true,  onStart:'onDrag(course)'}"
    	data-drop="true"
		jqyoui-droppable="{onDrop: 'onDrop(added[0])'}"
		data-jqyoui-options>
    		<span class="course-asString">{{ course.asString }}</span>
	        <a ng-click="emptyCourse(course)">
	        	<i class="fa fa-trash-o fa-lg"></i>
	        </a>
    	</div>

	    <span class="list-group-item small-padding"
	    ng-if="added[0].courses.length === 0"
	    data-drop="true"
		jqyoui-droppable="{onDrop: 'onDrop(added[0])'}"
		data-jqyoui-options>
	    	<span class="course-asString">Add some courses</span>
		</span>

		<span ng-repeat="group in added.slice(1)">
			<div class="horiz-padding bold-text body-size-text">
				One of...
			</div>

			<div class="flex-container list-group-item small-padding"
			ng-if="group.courses.length === 0"
			data-drop="true"
			jqyoui-droppable="{onDrop: 'onDrop(group)'}"
			data-jqyoui-options>
				<span class="course-asString">Drag to add</span>
			</div>

			<div class="flex-container list-group-item small-padding"
			ng-if="group.courses.length !== 0"
			ng-repeat="course in group.courses"
			data-drag="true"
			data-jqyoui-options="{revert: 'invalid'}"
			jqyoui-draggable="{animate:true,  onStart:'onDrag(course)'}"
			data-drop="true"
			jqyoui-droppable="{onDrop: 'onDrop(group)'}"
			data-jqyoui-options>
	    		<span class="course-asString">{{ course.asString }}</span>
		        <a ng-click="emptyCourse(course)">
		        	<i class="fa fa-trash-o fa-lg"></i>
		        </a>
			</div>

		</span>
	</div>
	<div class="section-footer">
		<button class="btn btn-default section-text bold-text go-right view-schedules" ng-click="newElectiveGroup()">New Group</button>
	</div>
</script>