<div ng-controller="scheduleCtrl">
	<div class="column-container floating-container nav-container">
		<button class="btn btn-default back-to-browse" ng-click="backToBrowse()">Browse Courses</button>

		<div class="dropdown go-right share-dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <p class="section-text regular-size">Share</p> <span class="caret dropdown-toggle"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-click="share()"><a role="menuitem" tabindex="-1" href="#">Facebook</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Twitter</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Email</a></li>
            </ul>
        </div>

        <button class="btn btn-default go-right desktop-only" ng-click="open()">Open As Image</button>

	</div>

	<div class="floating-container">

	    <div class="section-header">
	   		<button class="btn btn-default inline-display" ng-click="open()">{{ busyTimeButtonText }}</button>

			<i class="fa fa-caret-right toggle-caret small-padding go-right" ng-click="displayDifferentSchedule(1)"></i>
			<span class="go-right schedule-number">{{ scheduleIndex + 1 }} of {{ scheduleLength }}</span>
			<i class="fa fa-caret-left toggle-caret small-padding go-right" ng-click="displayDifferentSchedule(0)"></i>
	    </div>

	   	<div class="alert alert-info alert-dismissible instructions" ng-show="editableMode" role="alert">
	   		<div class="top-right">
  				<button type="button" class="close top-right" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  			</div>
  			Click the time slots where you are <strong>busy and don't want class class.</strong>You can resize these time slots to fill as much time as you'd like.
  			Once you are done, click the "Done" button.  The schedules will be regenerated to work around your preferences.  
		</div>

	    <div id="full-calendar-div" ui-calendar="uiConfig.calendar" ng-model="events" calendar="weekView"></div> 

	</div>

</div>