<div ng-controller="scheduleCtrl">

	<div class="column-container">

	<div class="floating-container flex-container no-side-margin">
		<div class="desktop-only">
			<button class="btn btn-success section-text bold-text inline-display" ng-click="backToBrowse()">Back to Browse</button>
		</div>

		<div class="two-thirds">
			<div class="flex-container">

				<div class="divider-full-height desktop-only"></div>

				<div class="pref-flex-item">
					<div class="pref-header">Mornings?</div>
					<div class="flex-container">
				    	<div class="pref-label">Hate</div>
				    	<div class="slider-container">
					      	<md-slider flex min="-100" max="100" ng-model="morningPref" ng-disabled="!editableMode" aria-label="red" class></md-slider>
						</div>
						<div class="pref-label">Love</div>
					</div>
				</div>

				<div class="divider-full-height desktop-only"></div>

				<div class="pref-flex-item">
					<div class="pref-header">Marathons?</div>
					<div class="flex-container">
				    	<div class="pref-label">Hate</div>
				    	<div class="slider-container">
					      	<md-slider flex min="-100" max="100" ng-model="marathonPref" ng-disabled="!editableMode" aria-label="red" class></md-slider>
						</div>
						<div class="pref-label">Love</div>
					</div>
				</div>

				<div class="divider-full-height desktop-only"></div>

				<div class="pref-flex-item">
					<div class="pref-header">Night class?</div>
					<div class="flex-container">
				    	<div class="pref-label">Hate</div>
				    	<div class="slider-container">
					      	<md-slider flex min="-100" max="100" ng-model="nightPref" ng-disabled="!editableMode" aria-label="red" class></md-slider>
						</div>
						<div class="pref-label">Love</div>
					</div>
				</div>


				<div class="pref-flex-item-mobile">
					<div class="pref-header">{{ currentPrefName }}</div>
					<div class="flex-container">
						<i class="fa fa-caret-left toggle-caret horiz-padding" ng-click="prevPref()"></i>
				    	<div class="pref-label">Hate</div>
				    	<div class="slider-container">
					      	<md-slider flex min="-100" max="100" ng-model="currentPref" ng-disabled="!editableMode" aria-label="red" class></md-slider>
						</div>
						<div class="pref-label">Love</div>
						<i class="fa fa-caret-right toggle-caret horiz-padding" ng-click="nextPref()"></i>
					</div>
				</div>

				<div class="divider-full-height"></div>

			</div>
		</div>

		<a id="help-button" class="fa fa-question big-size"></a>

		<button class="btn btn-default section-text bold-text pref-button inline-display" ng-click="open()" ng-disabled="fetchingSchedules">{{ busyTimeButtonText }}</button>

	</div>

	<div class="flex-container">
		<div class="floating-container no-side-margin">

		    <div class="section-header">
		    	<div id="fb-root"></div>
		    	<div class="social-icons go-left">
		    		<a facebook class="facebookShare" data-url="https://heywinston.com"></a>
		    		<div class="twitter-share small-side-padding">
						<a twitter data-lang="en" data-count='none' data-url='https://thewinston.herokuapp.com' data-size="medium" data-text='Winston | A Schedule Builder for UAlberta Students' ></a>
					</div>
					<div>
						<a ng-click="image()" class="save-image"><i class="fa fa-picture-o fa-lg"></i><span class="small-side-padding">Image</span></a>
					</div>
				</div>

				<i class="fa fa-caret-right toggle-caret small-padding go-right" ng-click="displayDifferentSchedule(1)"></i>
				<span class="go-right schedule-number">
					<span ng-if="scheduleLength > 0" class="no-padding">{{ scheduleIndex + 1 }} of {{ scheduleLength }}</span>
					<span ng-if="scheduleLength === 0" class="no-padding">None</span>
				</span>
				<i class="fa fa-caret-left toggle-caret small-padding go-right" ng-click="displayDifferentSchedule(0)"></i>
		    </div>

		   	<div class="alert alert-info alert-dismissible instructions" ng-show="editableMode" role="alert">
		   		<div class="top-right">
	  				<button type="button" class="close top-right" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  			</div>
	  			<strong>Block off time</strong>: click to add, click again to delete<br/>
	  			<strong>Get personal</strong>: drag the sliders towards Love or Hate<br/>
	  			<strong>Refresh the schedules</strong>: click Done 
			</div>

		    <div id="full-calendar-div" ui-calendar="uiConfig.calendar" ng-model="events" calendar="weekView"></div> 

		</div>
	</div>

	</div>

</div>