<div class="shutdown-parent">
	<div class="shutdown-child">
	<img class="shutdown-image" src="/img/turtle5.png"/><br><br>
	<b>Another student has taken over operation and maintenance of this service, available at <a href="http://heywinston.ca">http://heywinston.ca</a>. Big thanks to them for keeping this project online!</b> <br><br/>	
		
	We built Winston and its backing service, classtime, while undergraduates at the University of Alberta. <br>It served thousands of students over its two year lifespan, but we have now graduated and moved onward to new things. <br><br/>

	All our original source code is available on Github at the links below:<br><br>
	Winston: <a href="https://github.com/ahoskins/Winston">github.com/ahoskins/Winston</a><br>
	classtime: <a href="https://github.com/rosshamish/classtime">github.com/rosshamish/classtime</a>
	</div>
</div>
