<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@arhhoskins">
<meta name="twitter:url" content="thewinston.herokuapp.com">
<!-- <meta name="twitter:creator" content="@SarahMaslinNir"> -->
<meta name="twitter:title" content="Winston | Schedule Planning for UAlberta Students">
<meta name="twitter:description" content="Browse or real-time search for courses. Make schedules tailored to you life.  Avoid hours of life on BearTracks.">
<meta name="twitter:image:src" content="https://raydak.files.wordpress.com/2013/04/photoshoot-james-1.jpg">