.DS_Store
ignore
*.swp
.idea

# front-end
/public/js/lib/vendor

# middleware/node
/node_modules

# gulp build
/public/js/app-min

build
/public/css/css-min
/public/js/app-min
/public/js/libs
/public/js/bower


newrelic_agent.log
