*.pyc
venv
*~
.DS_Store
ignore
*.swp
ScheduleAlgorithm.docx

# nose-cprof output
stats.dat

# bower components
/angular_flask/static/scripts/vendor/bower_components

# sphinx (docs) build folder
_build
