<div class="section-container added-container" ng-controller="addedCtrl">
    <md-content md-theme="light-blue-dark" class="added-box" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop: 'onDrop'}">
        <md-content md-theme="light-blue-dark" class="section-heading">
            <p class="text-header">Added Courses:</p>  
<!--             <md-button class="md-raised md-primary remove-icon" md-theme="red" ng-click="removeAll()">
                <i class="glyphicon glyphicon-minus" ng-click="removeFromSchedule(course)"></i> Remove All 
            </md-button> -->
            <md-button class="md-raised md-primary generate-schedules-button" id="generate-schedules-button" ng-click="promptSchedules()">
                Generate Schedules
            </md-button>
        </md-content>

        <div class="added-list">
            <md-list>
                <md-item ng-repeat="course in added">
                    {{ course.asString }}
                </md-item>
            </md-list>
        </div>
    </md-content>
</div>