<!-- build:js -->
<script src="js/lib/vendor/bower_components/underscore/underscore-min.js"></script>
<script src="js/lib/vendor/bower_components/angular/angular.js"></script>
<script src="js/lib/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/lib/vendor/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="js/lib/vendor/bower_components/hammerjs/hammer.js"></script>
<script src="js/lib/vendor/bower_components/angular-aria/angular-aria.js"></script>
<script src="js/lib/vendor/bower_components/angular-animate/angular-animate.js"></script>
<script src="js/lib/vendor/bower_components/angular-material/angular-material.js"></script>
<script src="js/lib/vendor/bower_components/angular-route/angular-route.js"></script>
<script src="js/lib/vendor/bower_components/moment/moment.js"></script>
<script src="js/lib/vendor/bower_components/fullcalendar/dist/fullcalendar.js"></script>
<script src="js/lib/vendor/bower_components/html2canvas/dist/html2canvas.js"></script>
<script src="js/lib/vendor/bower_components/angular-socialshare/angular-socialshare.js"></script>
<script src="js/lib/vendor/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="js/lib/vendor/bower_components/ngprogress-lite/ngprogress-lite.js"></script>
<script src="js/lib/vendor/bower_components/angulartics/dist/angulartics.min.js"></script>
<script src="js/lib/vendor/bower_components/angulartics/dist/angulartics-ga.min.js"></script>
<script src="js/lib/vendor/bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
<!-- endbuild -->
