<!-- build:js -->
<script src="js/app.js"></script>
<script src="js/services/courseCache.js"></script>
<script src="js/services/courseFactory.js"></script>
<script src="js/services/detailFactory.js"></script>
<script src="js/services/scheduleFactory.js"></script>
<script src="js/services/courseDataMaker.js"></script>
<script src="js/services/readyMadeSchedules.js"></script>
<script src="js/services/currentTerm.js"></script>
<script src="js/services/addedCourses.js"></script>
<script src="js/services/addedBusyTime.js"></script>
<script src="js/services/preferencesValues.js"></script>
<script src="js/services/noBubble.js"></script>
<script src="js/services/staticInclude.js"></script>
<script src="js/controllers/accordionCtrl.js"></script>
<script src="js/controllers/termCtrl.js"></script>
<script src="js/controllers/scheduleCtrl.js"></script>
<script src="js/controllers/addedCtrl.js"></script>
<script src="js/controllers/headerCtrl.js"></script>
<script src="js/controllers/addedCoursesModalCtrl.js"></script>
<script src="js/controllers/noSchedulesModalCtrl.js"></script>
<!-- endbuild -->



