extends layout

block body
  
  include partials/header.html

  div(class='container wrapper')
    div(class='row-fluid')

      ng-view

    div(class='push')

  include partials/footer.html

  //- Angular Templates
  include partials/dialogs.html
  include partials/course-tile.html
  include partials/my-courses.html

  script(src='js/lib/vendor/bower_components/underscore/underscore-min.js')
  script(src='js/lib/vendor/bower_components/jquery/dist/jquery.min.js')
  script(src='js/lib/vendor/bower_components/jquery-ui/ui/jquery-ui.js')
  script(src='js/lib/vendor/bower_components/angular/angular.js')
  script(src='js/lib/vendor/bower_components/bootstrap/dist/js/bootstrap.js') 
  script(src='js/lib/vendor/bower_components/angular-bootstrap/ui-bootstrap-tpls.js') 

  script(src='js/lib/vendor/bower_components/hammerjs/hammer.js')
  script(src='js/lib/vendor/bower_components/angular-aria/angular-aria.js')
  script(src='js/lib/vendor/bower_components/angular-animate/angular-animate.js')
  script(src='js/lib/vendor/bower_components/angular-material/angular-material.js')

  script(src='js/lib/vendor/bower_components/angular-route/angular-route.js')
  script(src='js/lib/vendor/bower_components/bootstrap/js/alert.js')
  script(src='js/lib/vendor/bower_components/moment/moment.js')
  script(src='js/lib/vendor/bower_components/fullcalendar/dist/fullcalendar.js')
  script(src='js/lib/calendar.js')

  script(src='js/lib/vendor/bower_components/html2canvas/dist/html2canvas.js')
  script(src='js/lib/vendor/bower_components/angular-socialshare/angular-socialshare.js')
  script(src='https://platform.twitter.com/widgets.js')

  script(src='js/lib/vendor/bower_components/angular-local-storage/dist/angular-local-storage.min.js')

  script(src='js/lib/vendor/bower_components/ngprogress-lite/ngprogress-lite.js')

  script(src='js/lib/memoize.js')
  script(src='js/lib/filterStabilize.js')
  script(src='js/lib/fuse.min.js')

  script(src='js/app.js')

  // script(src='js/app-min/app.min.js')

  script(src='js/services/courseFactory.js')
  script(src='js/services/detailFactory.js')
  script(src='js/services/scheduleFactory.js')
  script(src='js/services/courseDataMaker.js')
  script(src='js/services/readyMadeSchedules.js')
  script(src='js/services/currentTerm.js')  
  script(src='js/services/addedCourses.js')
  script(src='js/services/addedBusyTime.js')
  script(src='js/services/preferencesValues.js')
  script(src='js/services/noBubble.js')
  script(src='js/services/staticInclude.js')

  script(src='js/controllers/accordionCtrl.js')
  script(src='js/controllers/termCtrl.js')
  script(src='js/controllers/scheduleCtrl.js')
  script(src='js/controllers/addedCtrl.js')
  script(src='js/controllers/headerCtrl.js')
  script(src='js/controllers/addedCoursesModalCtrl.js')
  script(src='js/controllers/noSchedulesModalCtrl.js')
