extends layout

block body

  include partials/header.html

  div(class='container')
    div(class='row')

      div(class='col-sm-7')
        include partials/find-courses.html

      div(class='col-sm-5')
        include partials/added.html


  script(src='js/lib/vendor/bower_components/jquery/dist/jquery.min.js')
  script(src='js/lib/vendor/bower_components/jquery-ui/ui/jquery-ui.js')
  script(src='js/lib/vendor/bower_components/angular/angular.js')
  script(src='js/lib/vendor/bower_components/angular-route/angular-route.js')
  script(src='js/lib/vendor/bower_components/angular-animate/angular-animate.js')
  script(src='js/lib/vendor/bower_components/angular-material/angular-material.js')
  script(src='js/lib/vendor/bower_components/angular-dragdrop/src/angular-dragdrop.js')
  script(src='js/lib/vendor/bower_components/angular-aria/angular-aria.js')
  script(src='js/lib/vendor/bower_components/angular-material/modules/js/toolbar/toolbar.js')
  script(src='js/lib/vendor/bower_components/angular-material/modules/js/slider/slider.js')

  script(src='js/lib/vendor/bower_components/angular-ui-calendar/src/calendar.js')
  script(src='js/lib/vendor/bower_components/fullcalendar/fullcalendar.min.js')
  script(src='js/lib/vendor/bower_components/fullcalendar/gcal.js')
  script(src='js/lib/vendor/memoize.js')
  script(src='js/lib/vendor/filterStabilize.js')
  script(src='js/lib/vendor/bower_components/hammerjs/hammer.js')
  script(src='js/lib/vendor/fuzzyset.js')
  script(src='js/lib/vendor/ui-bootstrap-tpls-0.12.0.min.js')
  script(src='js/lib/vendor/bower_components/bootstrap/dist/js/bootstrap.js')   
  script(src='js/lib/vendor/bower_components/bootstrap-material-design/dist/js/material.js')
  script(src='js/lib/vendor/bower_components/bootstrap-material-design/dist/js/ripples.js')

  script(src='js/app.js')
  script(src='js/services/courseFactory.js')
  script(src='js/services/detailFactory.js')
  script(src='js/services/SubjectBin.js')
  script(src='js/services/readyMadeSchedules.js')
  script(src='js/services/addedCourses.js')
  script(src='js/services/filter.js')
  script(src='js/services/noBubble.js')
  script(src='js/controllers/accordionCtrl.js')
  script(src='js/controllers/scheduleCtrl.js')
  script(src='js/controllers/addedCtrl.js')
  script(src='js/controllers/headerCtrl.js')
