extends layout

block body
  
  include partials/header.html

  div(class='container wrapper')
    div(class='row-fluid')

      ng-view

    div(class='push')

  include partials/footer.html

  //- Angular Templates
  include partials/dialogs.html
  include partials/course-tile.html
  include partials/my-courses.html
  include partials/my-courses-dialog.html

  #production
    if production
      include build/bower.html
      include build/libs.html
      include build/includes.html
    else
      include bower.html
      include libs.html
      include includes.html

