!!!
html(ng-app="winstonApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width", initial-scale="1")

    base(href='/')
    title Winston | Schedule Planning for UAlberta Students

    // Favicon, touch icons
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon shortcut" type="image/png" href="/favicon-32x32.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    include fb-meta.html

    link(rel='stylesheet', href='/js/lib/vendor/bower_components/normalize.css/normalize.css')

    link(rel='stylesheet', href='/js/lib/vendor/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/js/lib/vendor/bower_components/angular-material/angular-material.css')

    link(rel='stylesheet', href='/js/lib/vendor/bower_components/fullcalendar/dist/fullcalendar.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')

    link(rel='stylesheet', href='/js/lib/vendor/bower_components/tooltipster/css/tooltipster.css')

    link(rel='stylesheet', href='/js/lib/vendor/bower_components/ngprogress-lite/ngprogress-lite.css')
    
    link(rel='stylesheet', href='/css/style.css')

  body
    block body