!!!
html(ng-app="winstonApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width", initial-scale="1")

    base(href='/')
    title Winston UAlberta

    include fb-meta.html

    link(rel='stylesheet', href='/js/lib/vendor/bower_components/normalize.css/normalize.css')

    link(rel='stylesheet', href='/js/lib/vendor/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/js/lib/vendor/bower_components/angular-material/angular-material.css')
    // - link(rel='stylesheet', href='/js/lib/vendor/bower_components/bootstrap-material-design/dist/css/material-wfont.css')

    link(rel='stylesheet', href='/js/lib/vendor/bower_components/fullcalendar/dist/fullcalendar.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')

    link(rel='stylesheet', href='/js/lib/vendor/bower_components/tooltipster/css/tooltipster.css')

    link(rel='stylesheet', href='/js/lib/vendor/bower_components/ngprogress-lite/ngprogress-lite.css')
    
    link(rel='stylesheet', href='/css/style.css')

  body
    block body