<!-- build:css -->
<link rel="stylesheet" type="text/css" href="/js/lib/vendor/bower_components/normalize.css/normalize.css">
<link rel="stylesheet" type="text/css" href="/js/lib/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/js/lib/vendor/bower_components/angular-material/angular-material.css">
<link rel="stylesheet" type="text/css" href="/js/lib/vendor/bower_components/fullcalendar/dist/fullcalendar.css">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/js/lib/vendor/bower_components/ngprogress-lite/ngprogress-lite.css">
<link rel="stylesheet" type="text/css" href="/js/lib/vendor/bower_components/angular-socialshare/angular-socialshare.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<!-- endbuild -->