/************************
        Utility
************************/

html, body {
	font: 200 27px/45px 'Raleway', sans-serif;
	position: relative;
	background-color: #f2f2f2;
}

.go-left {
	float: left !important;
}

.go-right {
	float: right !important;
}

.section-container {
	padding: 15px 15px;
	border-radius: 15px;
	background-color: #323232;
}

.nav, .pagination, .carousel, .panel-title, a { 
	cursor: pointer; 
}

.section-heading {
	padding: 10px 10px;
	height: 60px;
}

.ng-binding {
	display: block;
	padding: 10px 15px;
    margin: -10px -15px;
}

.text-header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font: 800 25px/25px 'Raleway', sans-serif;
	color: #ffffff;
	padding-top: 9px;
}


/************************
         Schedule
*************************/

div.fc-view {
	background-color: #EFEFEF;
}

.fc-event-title {
	font-weight: bold;
}

.fc-event-time {
	font-weight: bold;
}

.fc-event-inner {
	color: black;
}

.fc-view-agendaWeek .fc-today {
     color: #ffffff;
     background: #ffffff;
 }

 #prev-caret {
	color: #ffffff;
	font-size: 50px;
	position: absolute;
	top: 6px;
	left: 13px;
}

#next-caret {
	color: #ffffff;
	font-size: 50px;
	position: absolute;
	top: 6px;
	left: 40px;
}

.add-courses-button {
	height: 40px;
	position: absolute;
	top: 10px;
	right: 13px;
}

/************************
        Accordion
*************************/

.accordion-container {
	margin-top: 100px;
	margin-bottom: 20px;
}

md-input-group, .md-input-group {
	margin: 0px;
	font-weight: bold;
	font-size: 20px;
	display: inline;
}

md-input-group input[type="text"], md-input-group label {
	margin-top: -17px !important;
}

.add-button {
	position: relative;
	top: -18px;
	float: right;
}

#add-up {
	font-size: 22px;
	color: #262626;
}

.panel-default > .panel-heading {
	background-color: #90CAF9;
	border-radius: 0px;
}

/*Single panel*/
.panel-group .panel {
	border-color: black;
	border-width: 2px;
	border-radius: 0px;
}

div.panel-body {
	background-color: #BBDEFB !important;
	border-radius: 0px;
	min-width: 100%;
}

div.panel-collapse {
	background-color: #BBDEFB !important;
}

.course-description {
	font-weight: bold;
	min-width: 100%;
	margin: 0px !important;
}


/***********************
      Added List
************************/

.added-list {
	background-color: #efefef;
}

.added-box {
	padding: 15px 15px;
	border-radius: 15px;
}

@media (max-width: 768px) {
	.added-container {
		position: static !important;
	}
	.navbar-collapse.collapse.navbar-added-collapse {
		display: inline;
	}
}

@media (min-width: 768px) {
	.navbar-collapse.collapse.navbar-added-collapse {
		display: none !important;
	}
}

.added-container {
	position: fixed;
	top: 100px;
	width: 32vw;
}


.remove-icon {
	border-radius: 3px;
	padding: 5px 5px;
	position: absolute;
	top: 13px;
	right: 13px;
	color: #ffffff;
	font-size: 15px;
}

.generate-schedules-button {
	border-radius: 3px;
	padding: 5px 5px;
	position: absolute;
	top: 9px;
	right: 13px;
	color: #ffffff;
	height: 40px;
}

/************************
          Header
*************************/

/*.md-toolbar-tools {
	background-color: #D4CCC5;
	min-height: 52px !important;
	max-height: 52px !important;
	padding: 0vw 10vw;

	position: fixed;
	top: 0px;
	width: 100vw;
	z-index: 1;

	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}*/

/*#logo {
	padding-top: 13px;
	padding-left: 15px;
}*/

/*.title {
	color: #000000;
	font: 800 32px/30px 'Raleway', sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-left: 10px;
}*/

/*#tagline {
	color: #000000;
	padding-left: 70px;
	font: 400 20px/15px 'Raleway', sans-serif;
	font-weight: bold;
}*/

.navbar {
	position: fixed !important;
	top: 0px;
	width: 100vw;
	z-index: 1;
}

/************************
          Footer
*************************/

.footer-bit {
	padding-top: 5px;
	min-height: 30px !important;
	max-height: 30px !important;
}




















