/************************
        Utility
************************/

* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	background-color: #B2DFDB;
	height: 100vh;
}

.go-left {
	float: left !important;
}

.go-right {
	float: right !important;
}

.column-container {
	margin-top: 70px;
}

.floating-container {
	border-radius: 15px !important;
	background-color: #f2f2f2;
}

.nav-container {
	display: flex;
	flex-align: right;
	align-items: center;
	height: 60px;
	margin-bottom: 10px;
	padding: 0px 10px;
	line-height: 60px;
}

.nav-container > * {
	margin-right: 10px;
	height: 41px;
}
.nav-container > .back-to-browse {
	margin-right: auto;
}
.nav-container > .share-dropdown {
	line-height: 0px;
}
	.nav-container > .share-dropdown p {
		font-style: normal;
	}

.nav, .pagination, .carousel, .panel-title, a { 
	cursor: pointer; 
}

.section-header {
	border-radius: 15px 15px 0px 0px;
	padding: 0px 10px;
	height: 60px;
	line-height: 60px;
	background-color: #D3D3D3;
}

.ng-binding {
	display: block;
	padding: 10px 15px;
}

.section-text {
	padding-left: 10px;
	font-style: italic;
	font-weight: lighter;
	display: inline;
	text-align: center;
}

.bottom-container {
	position: absolute;
	bottom: 0px;
	padding: 10px 10px;
	width: 100%;
}

.big-size {
	font-size: 20px;
}

.regular-size {
	font-size: 16px;
}

.small-padding {
	padding: 5px;
}

.normal-padding {
	padding: 15px;
}

@media (max-width: 600px) {
	.desktop-only {
		display: none !important;
	}
}

.inline-display {
	display: inline !important;
}


/************************
         Schedule
*************************/

div.fc-view, .fc-today {
	background-color: #EFEFEF !important;
}

.fc-event-title {
	font-weight: bold;
}

.fc-event-time {
	font-weight: bold;
}

.fc-event-inner {
	color: black;
}

#prev-caret {
	color: #ffffff;
	font-size: 50px;
	position: absolute;
	top: 6px;
	left: 13px;
}

#next-caret {
	color: #ffffff;
	font-size: 50px;
	position: absolute;
	top: 6px;
	left: 40px;
}

.schedule-number {
	padding-top: 0;
	padding-bottom: 0;
}

.toggle-caret {
	color: #ffffff;
	font-size: 50px;
	cursor: pointer;
}

.add-courses-button {
	height: 40px;
	position: absolute;
	top: 10px;
	right: 13px;
}

.top-right {
	position: absolute;
	top: 5px !important;
	right: 5px !important;
}

.instructions {
	position: relative !important;
}

/************************
        Accordion
*************************/

button.dropdown-toggle {
	font-size: 18px;
	font-style: italic;
	display: inline-block;
	margin-top: 0px;
}

div.dropdown {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div.course-search {
	padding-top: 10px;
	padding-left: 16px;
	width: 100%;
	font-size: 20px;
}

input.course-search {
	padding-left: 5px;
}

.add-button {
	position: relative;
	top: -18px;
	float: right;
}

#add-up {
	font-size: 22px;
	color: #262626;
}

.panel-default > .panel-heading {
	background-color: #90CAF9;
	border-radius: 0px;
}

/*Single panel*/
.panel-group .panel {
	border-color: black;
	border-width: 2px;
	border-radius: 0px;
}

div.panel-body {
	background-color: #BBDEFB !important;
	border-radius: 0px;
	min-width: 100%;
}

div.panel-collapse {
	background-color: #BBDEFB !important;
}

.course-description {
	font-size: 16px;
	font-weight: bold;
	min-width: 100%;
	margin: 0px !important;
}

/*#welcome-banner {
	margin-top: 70px;
	border-radius: 15px;
}*/


/***********************
      Added List
************************/

.added-list {
	background-color: #efefef;
	left: 0px;
	padding-left: 0px;
}

@media (max-width: 768px) {
	.added-container {
		display: none !important;
	}
}

.added-container {
	margin-bottom: 20px;
	position: fixed;
	width: 32vw;
	min-height: 350px;
}

.remove-icon {
	border-radius: 3px;
	padding: 5px 5px;
	position: absolute;
	top: 13px;
	right: 13px;
	color: #ffffff;
	font-size: 15px;
}

.generate-schedules-button {
	border-radius: 3px;
	padding: 5px 5px;
	position: absolute;
	top: 9px;
	right: 13px;
	color: #ffffff;
	height: 40px;
}

/*************************
           Modal
**************************/

div.modal-content {
	border-radius: 15px;
	position: relative;
}

/************************
          Header
*************************/

.navbar.navbar-default {
	position: fixed !important;
	top: 0px;
	width: 100vw;
	z-index: 100;
}

/************************
          Footer
*************************/

.footer-bit, .push {
	height: 4em;
}

.wrapper {
	min-height: 100%;
	height: 100%;
	margin: 0 auto -4em;
}









