html {
	margin-left: 10px;
	margin-right: 10px;
	font: 200 27px/45px 'Raleway', sans-serif;
}

/*Accordion*/
/**/
/**/
#searchBox {
/*	width: 49%;*/
}

.faculty-accordion {
/*	width: 49%;*/
}

.subject-accordion {
/*	width: 70%;*/
}

.course-accordion {
/*	width: 80%;*/
}

.foundicon-right-arrow {
	position: relative;
}


/*Schedule*/
/**/
/**/
#schedule-div {
}

#generate-button {
	float: right;
}

#shopping-cart-size {
	position: fixed;
	top: 5px;
	right: 20px;
}

#next {
	float: right;
	padding-left: 10px;
}

#prev {
	float: right;
	padding-right: 5px;
}

#clear {
	position: fixed;
	top: 5px;
	right: 34%;
}

#shopping-cart {
	position: fixed;
	top: 5px;
	right: 10%;
}

/*Something Angular UI requires to make work*/
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

a {
	cursor: pointer;
}

#winston {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font: 800 27px/45px 'Raleway', sans-serif;
}

#search-by-all {
	font: 900 15px/30px 'Raleway', sans-serif;
/*	width: 49%;*/
	text-align: center;
}

#added {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font: 800 15px/30px 'Raleway', sans-serif;
}

#list-group {
}





