html {
	margin-left: 10px;
	margin-right: 10px;
}

.course-accordion {
	width: 80%;
}

.faculty-accordion {
    width: 49%;
}

.subject-accordion {
    width: 70%;
}

#searchBox {
	width: 49%;
}

#cal {
	position: absolute;
	left: 50%;
	width: 50%;
	padding-top: 10px;
}