<div class="col-md-6" style="position:relative; top: 35px">
	<md-button class="md-raised md-primary" md-theme="amber" style="float:right; position:relative; color:#000000; height: 50px; padding: 0px 10px" ng-click="goBack()">Back</md-button>
	<br><br><br>
  <md-content md-theme="light-blue-dark" style="border-radius:3px">
    <form style="padding: 20px; border-radius:3px">
      <div class="row">
      	<span style="color:#ffffff; font-size: 18px">Hello and welcome to Winston.  <br><br>Winston is a beautiful schedule builder for U of A students. It's meant to prevent wrangling with BearTracks trying to find the optimal schedule, and instead make you happy and full of joy.
      	<br><br>Look for new features rolling out like preferences, rate-my-prof integration, and sharing.<br><br>For the technical folk, this page was build with Angular JS and the site runs on a Python backend.  The creators are Ross Anderson and Andrew Hoskins.</span>
      </div>
    </form>
  </md-content>
</div>