<div id="added-section">
    <md-content md-theme="light-blue-dark" class="section-heading">
        <p class="text-header">Added Courses:</p>  
        <md-button class="md-raised md-primary remove-icon" md-theme="red" ng-click="removeAll()">
            <i class="glyphicon glyphicon-minus" ng-click="removeFromSchedule(course)"></i> Remove All 
        </md-button>
    </md-content>

    <md-content>
        <md-list>
            <md-item ng-repeat="course in added">
                {{ course.asString }}
            </md-item>
        </md-list>
    </md-content>
</div>