<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-text">Made with love for University of Alberta students.</a>
        <a class="navbar-brand" id="winstonApp">Winston</a>
    </div>
</nav> -->

<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span class="title">Winston</span>

      <!-- fill up the space between left and right area -->
      <span flex>
            <p id="logo"><span class="fa-stack subtlecircle" style="font-size:28px;">
  <i class="fa fa-mortar-board fa-stack-2x text-ualberta-green" id="grey"></i>
  <i class="fa fa-search fa-stack-1x text-ualberta-gold" id="black"></i>
</span></p>
      </span>
      <span id="tagline">Made for University of Alberta students</span>
      <span><a href="mailto:arhoskin@ualberta.ca"> <i class="fa fa-envelope-o" style="font-size:30px; color:#000000"></i></a></span> 
      <span><a href="https://github.com/rosshamish/classtime" target="_blank"> <i class="fa fa-github" style="font-size:30px; color:#000000"></i></a></span> 
    </div>
  </md-toolbar>
</div>