<!DOCTYPE html>
<html data-ng-app="coreModule">
<head>
	<link rel="stylesheet" type="text/css" href="/static/styles/foundation.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/styles/style.css"/>
</head>
<body>
<!-- 	<div data-ng-controller="courseListCtrl">
		Search By All:
		<br>
		<div class="search-box">
			<input type="text" data-ng-model="search" />
		</div>
		<br>
		legacy
		<accordion>
			<accordion-group class="course-accordion" heading="{{ subjectName }}" data-ng-repeat="(subjectName, subjectObject) in subjectBin">
				<accordion-group class="course-accordion" heading=" {{ singleCourse.asString }}" data-ng-repeat="singleCourse in subjectObject">
				</accordion-group>
			</accordion-group>
		</accordion>
	</div> -->


	<div data-ng-controller="fastCourseListCtrl">
		Search By All:
		<br>
		<div class="search-box">
			<input type="text" data-ng-model="search" />
		</div>
		<br>
		<accordion>
			<accordion-group class="course-accordion" heading="{{ subjectName }}" data-ng-repeat="(subjectName, subjectObject) in subjectBin">
				<accordion-group class="course-accordion" heading=" {{ singleCourse.asString }}" data-ng-repeat="singleCourse in subjectObject">
				</accordion-group>
			</accordion-group>
		</accordion>
	</div>


	<!-- Vendor -->
	<script type="text/javascript" src="/static/scripts/vendor/angular.min.js"></script>
	<script type="text/javascript" src="/static/scripts/vendor/mm-foundation-tpls-0.3.1.min.js"></script>

	<!-- Angular Core -->
	<script type="text/javascript" src="/static/scripts/app.js"></script>
<!-- 	// <script type="text/javascript" src="/static/scripts/services/courseFactory.js"></script>
	// <script type="text/javascript" src="/static/scripts/controllers/courseListCtrl.js"></script> -->
	<script type="text/javascript" src="/static/scripts/services/fastCourseFactory.js"></script>
	<script type="text/javascript" src="/static/scripts/controllers/fastCourseListCtrl.js"></script>

	</body>
</html>