<!DOCTYPE html>
<html data-ng-app="coreModule">
<head>
    <!--Stylesheets-->
	<link rel="stylesheet" type="text/css" href="/static/styles/foundation.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/stylesheets/general_foundicons.css"/>
	<link rel="stylesheet" type="text/css" href="/static/styles/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/scripts/vendor/bower_components/fullcalendar/fullcalendar.css"/>
</head>
<body>
    <!--Accordion: controlled by accordionCtrl.js-->
	<div data-ng-controller="accordionCtrl">
		Search By All:
		<br>
		<div class="search-box">
			<input type="search" id="searchBox" data-ng-model="searchBox" />
		</div>
		<br>

        <accordion>
            <accordion-group class="faculty-accordion" heading="{{ facultyName }}" data-ng-repeat="(facultyName, facultyObject) in subjectBin | courseFilter:filterText">
                <accordion>
                    <accordion-group class="subject-accordion" heading="{{ subjectName }}" ng-click="renderCourses(subjectName)" data-ng-repeat="(subjectName, subjectObject) in facultyObject">
                        <accordion>
                            <accordion-group class="course-accordion" ng-click="loadMore(singleCourse.course)" heading="{{ singleCourse.asString }}" ng-if="subjects[subjectName]" data-ng-repeat="singleCourse in subjectObject">
                                <a><i class="foundicon-plus" ng-click="addToSchedule(singleCourse.course)"> Add</i></a>
                                <br>
                                {{ description }}
                            </accordion-group>
                        </accordion>
                    </accordion-group>
                </accordion>
            </accordion-group>
        </accordion>

	</div>

    <!--Schedule: controlled by scheduleCtrl.js-->
    <div data-ng-controller="scheduleCtrl">
        <button id="get-classes" ng-click="getSchedules()">Gen-sched</button>

        <div id="cal" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="weekView"></div>

    </div>

    <!--Core Dependencies-->
    <script type="text/javascript" src="/static/scripts/vendor/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/vendor/bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/scripts/vendor/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/scripts/vendor/bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="/static/scripts/vendor/bower_components/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/static/scripts/vendor/bower_components/fullcalendar/gcal.js"></script>

    <!--MM-Foundation-->
    <script type="text/javascript" src="/static/scripts/vendor/bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>

    <!--Module: App.js-->
	<script type="text/javascript" src="/static/scripts/app.js"></script>

    <!--Factories-->
	<script type="text/javascript" src="/static/scripts/services/courseFactory.js"></script>
    <script type="text/javascript" src="/static/scripts/services/detailFactory.js"></script>
    <script type="text/javascript" src="/static/scripts/services/scheduleFactory.js"></script>

    <!--Controllers-->
	<script type="text/javascript" src="/static/scripts/controllers/accordionCtrl.js"></script>
    <script type="text/javascript" src="/static/scripts/controllers/scheduleCtrl.js"></script>

    <!--Filters-->
	<script type="text/javascript" src="/static/scripts/services/filter.js"></script>

	</body>
</html>

