<div id="schedule-section">
    <md-content md-theme="light-blue-dark" class="schedule-box" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop: 'onDrop'}">
    	<div class="section-heading">
			<p class="text-header"> Schedules ({{ scheduleIndex + 1 }}/{{ scheduleLength }}): </p>

			<a><i class="fa fa-caret-left" id="prev-caret" ng-click="displayDifferentSchedule(0)"></i></a>
			<a><i class="fa fa-caret-right" id="next-caret" ng-click="displayDifferentSchedule(1)"></i></a>

<!-- 	        <md-button class="md-raised md-primary add-courses-button" id="show-accordion" ng-click="showAccordion()">Add More Courses</md-button> -->
    	</div>

        <div id="full-calendar-div" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="weekView"></div> 

<!--         <div class="added-tray">

		    <md-content class="section-heading">
		        <p class="text-header">Added Courses:</p>  
		        <md-button class="md-raised md-primary remove-icon" md-theme="red" ng-click="removeAll()">
		            <i class="glyphicon glyphicon-minus" ng-click="removeFromSchedule(course)"></i> Remove All 
		        </md-button>
		    </md-content>

		    <md-content>
		        <md-list>
		            <md-item ng-repeat="course in added">
		                <md-item-content>
		                    <div class="md-tile-content">
		                        <span style="font-size:20px; font-weight:bold">{{ course.asString }}</span>
		                        <md-button class="md-raised md-primary remove-icon" md-theme="red" ng-click="removeFromSchedule(course)">
		                            <i class="glyphicon glyphicon-minus" ng-click="removeFromSchedule(course)"></i> Remove
		                        </md-button>
		                    </div>
		                </md-item-content>
		                <md-divider ng-if="!$last"></md-divider>
		                {{ course.asString }}
		            </md-item>
		        </md-list>
		    </md-content>

        </div> -->

    </md-content>

</div>