<div>
<!-- The schedule view...showed when the accordion is hidden -->
<div class="col-md-6">
    <div class="buttons">
        <button id="prev" class="btn btn-primary" ng-click="displayDifferentSchedule(0)">Previous</button>
        <button id="next" class="btn btn-primary" ng-click="displayDifferentSchedule(1)">Next</button>
        <button id="show-accordion" class="btn btn-primary" ng-click="showAccordion()">Add More Courses</button>
    </div>

        <h id="schedule-header"> Possible Schedules: ({{ scheduleIndex + 1 }}/{{ scheduleLength }}) </h>

    <div id="full-calendar-div" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="weekView"></div> 
</div>
</div>